Final Deliverables/flows.json
[{"id":"75978a6437b1bbee","type":"tab","label":"Medicine Remainder","disabled":false,"info":"","env":[]},{"id":"355d6edfb21a37ac","type":"ibmiot","name":"IBM  IOT API KEY","keepalive":"60","serverName":"jchm38.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ea854c1fd0012e7c","type":"cloudant","host":"https://apikey-v2-g2mgoaa13ktty45ajlxsbsu036aet74dzzcaijky3xd:6046fe3b196e02c18463596e2f6d101e@6b668acd-11ae-4491-9d1f-31de9ab54fa1-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"f3161ec9f2852621","type":"ui_group","name":"Medicine Remainder-UI","tab":"ccb424f206929e3f","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0140cf3398d7f6bb","type":"ui_group","name":"Medicine Remainder","tab":"88ea0e5bc209b315","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ccb424f206929e3f","type":"ui_tab","name":"Medicine Remainder","icon":"dashboard","disabled":false,"hidden":false},{"id":"37155f3f1ee0a80e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88ea0e5bc209b315","type":"ui_tab","name":"Speech","icon":"dashboard","disabled":false,"hidden":false},{"id":"b2402918def42420","type":"ibmiot out","z":"75978a6437b1bbee","authentication":"apiKey","apiKey":"355d6edfb21a37ac","outputType":"cmd","deviceId":"2019504037","deviceType":"MR","eventCommandType":"name","format":"json","data":"medicine","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":40,"wires":[]},{"id":"010bbce5a3cd2909","type":"inject","z":"75978a6437b1bbee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["6564307ed1adbb56"]]},{"id":"7b271549d44feb08","type":"cloudant in","z":"75978a6437b1bbee","name":"","cloudant":"ea854c1fd0012e7c","database":"medicine","service":"_ext_","search":"_id_","design":"medicine","index":"id","x":340,"y":100,"wires":[["4eedb76048312a39"]]},{"id":"5a8fbd45311c12bb","type":"function","z":"75978a6437b1bbee","name":"Function to send the medicine name to the IoT device","func":"msg.payload={\"command\":msg.payload.name}\nglobal.set(\"mr\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":100,"wires":[["e22a5ccd54ac0b2f","b2402918def42420"]]},{"id":"6564307ed1adbb56","type":"function","z":"75978a6437b1bbee","name":"Function to compare the time","func":"var d=new Date();\nvar utc= d.getTime()+ (d.getTimezoneOffset()*60000);\nvar offset= 5.5;\nnewDate= new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0, 10)\nvar time = n.slice(11,16)\nglobal.set('time', time) \nmsg.payload=date+\" \"+time\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[["7b271549d44feb08","bbce3d9843e96361"]]},{"id":"9b460f01bcf1402e","type":"function","z":"75978a6437b1bbee","name":"Function to store the medicine details","func":"var d=msg.payload.date \nvar t=msg.payload.time\nmsg.payload ={\n    \"_id\":d+\" \"+t,\n    \"name\":msg.payload.name,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":320,"wires":[["340461ca087b47fd","04e99526fcbd3453","44659e3d6b4ce218"]]},{"id":"04e99526fcbd3453","type":"function","z":"75978a6437b1bbee","name":"Function to make the details in the form empty","func":"msg.payload={\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":380,"wires":[["e798fd955a7f2182"]]},{"id":"e22a5ccd54ac0b2f","type":"debug","z":"75978a6437b1bbee","name":"name of the medicine","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":260,"wires":[]},{"id":"44659e3d6b4ce218","type":"debug","z":"75978a6437b1bbee","name":"entered medicine details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":440,"wires":[]},{"id":"340461ca087b47fd","type":"cloudant out","z":"75978a6437b1bbee","name":"","cloudant":"ea854c1fd0012e7c","database":"medicine","service":"_ext_","payonly":true,"operation":"insert","x":560,"y":320,"wires":[]},{"id":"96078aa6c00ddf0d","type":"ui_form","z":"75978a6437b1bbee","name":"","label":"","group":"f3161ec9f2852621","order":1,"width":0,"height":0,"options":[{"label":"Enter the name of the Medicine","value":"name","type":"text","required":true,"rows":null},{"label":"Enter the Time(HH:MM)","value":"time","type":"text","required":true,"rows":null},{"label":"Enter the Date(YYYY-MM-DD)","value":"date","type":"text","required":true,"rows":null}],"formValue":{"name":"","time":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":410,"y":440,"wires":[["44659e3d6b4ce218","9b460f01bcf1402e"]]},{"id":"e798fd955a7f2182","type":"delay","z":"75978a6437b1bbee","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":440,"wires":[["96078aa6c00ddf0d"]]},{"id":"4eedb76048312a39","type":"switch","z":"75978a6437b1bbee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":140,"wires":[[],["5a8fbd45311c12bb","f44de8519caea91e"]]},{"id":"bbce3d9843e96361","type":"debug","z":"75978a6437b1bbee","name":"present time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"84a35a31f044a4bb","type":"http in","z":"75978a6437b1bbee","name":"HTTP request","url":"/remainder","method":"get","upload":false,"swaggerDoc":"","x":250,"y":500,"wires":[["976b50d5a54c8088"]]},{"id":"1c0f8856268e30b0","type":"http response","z":"75978a6437b1bbee","name":"","statusCode":"","headers":{},"x":690,"y":500,"wires":[]},{"id":"976b50d5a54c8088","type":"function","z":"75978a6437b1bbee","name":"","func":"msg.payload=global.get(\"mr\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":500,"wires":[["1c0f8856268e30b0"]]},{"id":"efbfc84d2dd97a08","type":"ubidots_out","z":"75978a6437b1bbee","name":"","token":"BBFF-6rQfgTeR6xojkByAkMpS5Azz9zFJtI","label_device":"","device_label":"Medicine_reminder","tier":"educational","tls_checkbox":true,"x":910,"y":280,"wires":[]},{"id":"f44de8519caea91e","type":"function","z":"75978a6437b1bbee","name":"Email Alert to the caretaker using ubidots IoT platform","func":"msg.payload={\"gurubaran\":1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":160,"wires":[["efbfc84d2dd97a08"]]}]